body{
  padding-top: 70px;
  background-image: url("stones.jpg");
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: pink;
  border-radius: 0.3rem;
}
.navbar{
  background-color: skyblue;
}
.navbar a{
  color: black;
}
